<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>

    <!-- 1. Load libraries -->
    <!-- IE required polyfill -->
    <script src="{% static 'app/angular/core-js/client/shim.min.js' %}"></script>

    <script src="{% static 'app/angular/zone.js/dist/zone.js' %}"></script>
    <script src="{% static 'app/angular/reflect-metadata/Reflect.js' %}"></script>

    <script src="{% static 'app/angular/rxjs/bundles/Rx.umd.js' %}"></script>
    <script src="{% static 'app/angular/@angular/core/bundles/core.umd.js' %}"></script>
    <script src="{% static 'app/angular/@angular/common/bundles/common.umd.js' %}"></script>
    <script src="{% static 'app/angular/@angular/compiler/bundles/compiler.umd.js' %}"></script>
    <script src="{% static 'app/angular/@angular/platform-browser/bundles/platform-browser.umd.js' %}"></script>
    <script src="{% static 'app/angular/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js' %}"></script>

    <!-- 2. Load our 'modules' -->
    <script src="{% static 'app/app/models.js' %}"></script>
    <script src="{% static 'app/app/app.component.js' %}"></script>
    <script src="{% static 'app/app/main.js' %}"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">{{ title }}</a>
            </div>
        </div>
    </div>

    <br/>
    <br/>
    <br/>

    <ul class="tab">
        <li><a href="#" class="tablinks" onclick="openTab(event, 'addArtistTab')">Add artist</a></li>
        <li><a href="#" class="tablinks" onclick="openTab(event, 'browseArtistsTab')">Browse artists</a></li>
    </ul>

    <div id="addArtistTab" class="tabcontent">
        <h3>Add Artist</h3>
        <input type="text" id="artistTxt" onkeydown="keyDown(event)"/>
        <input type="button" value="add" onclick="addArtist()"/>
        <br/>
        <br/>
        <div id="addArtistResult"></div>
    </div>

    <div id="browseArtistsTab" class="tabcontent">
        <h3>Browse artists &#128270;</h3>
        <div id="artistsCollection">
            <my-app></my-app>
            <div>London</div>
            <div>Paris</div>
            <div>Tokyo</div>
        </div>

        <div id="albumsCollection">
            <ul id="albumsList">
                <li>album 1</li>
                <li>album 2</li>
                <li>album 3</li>
            </ul>
        </div>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <script src="{% static 'artistsApp/scripts/artistsAppCalls.js' %}"></script>
    <script src="{% static 'app/scripts/tabsScript.js' %}"></script>
    <script type="text/javascript">
        var csrftoken = '{{ csrf_token }}';
    </script>
</body>
</html>
